In [ ]:
# Traversal a list
# list operation (plus, times, x)
# list method.
# map, filter

Lab 1: update every single items in the list to two times of it.
l=[1,2,3]
l=[2,4,6]

In [1]:
num_list=[2,7,6]
for i in range(len(num_list)):
    num_list[i]=2*num_list[i]
print(num_list)

[4, 14, 12]

In [3]:
def timestwo(l):
    for i in range(len(l)):
        l[i]=2*l[i]
    return l

In [4]:
l=[1,2,3]
timestwo(l)

[2, 4, 6]

In [6]:
strangelist=[13413,29809,3098098]
timestwo(strangelist)

[26826, 59618, 6196196]

In [7]:
stringlist=['yes','no','love']
timestwo(stringlist)

['yesyes', 'nono', 'lovelove']

In [8]:
def times(l,n):
    for i in range(len(l)):
        l[i]=n*l[i]
    return l
times([1,2,3],3)

[3, 6, 9]

In [9]:
l1=[1,2,3]
l2=[4,5,6]
l1+l2

[1, 2, 3, 4, 5, 6]

In [10]:
l2+l1

[4, 5, 6, 1, 2, 3]

In [13]:
l1=[1,2,3]
l1=3*l1
print(l1)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
fruit=['banana','apple','kiwi','orange','dragonfruit']
fruit[1:4] # include index=1,2,3 (NOT 4)

['apple', 'kiwi', 'orange']

In [16]:
fruit[1:3]=['grapes','pineapple']  # replace, index=1, 2 to the new values.
print(fruit)

['banana', 'grapes', 'pineapple', 'orange', 'dragonfruit']